@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Inter", sans-serif;
}

/* Loding */
.spinner-wrapper {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 65464;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  opacity: 1;
  .terminal-loader {
    scale: 1.3;
  }
}
/* From Uiverse.io by aryamitra06 */
.loader {
  display: flex;
  align-items: center;
}

.bar {
  display: inline-block;
  width: 3px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
  height: 35px;
  margin: 0 5px;
  animation-delay: 0.25s;
}

.bar:nth-child(3) {
  animation-delay: 0.5s;
}

@keyframes scale-up4 {
  20% {
    background-color: #ffff;
    transform: scaleY(1.5);
  }

  40% {
    transform: scaleY(1);
  }
}
/* Loding */

a {
  text-decoration: none !important;
}

:root {
  --main_color: #43b580;
  --p_color: #fffdfdf5;
  --bg_color: #0a1a1f;
  --white_color: #fff;
  --black_color: #070707;
  --border-color: #ffffff47;
  --background-body: #0f282f;
  --bg-lines: rgb(255, 255, 255, 0.05);
  --img-shado: 0px 0px 47px -9px rgb(163 163 163 / 87%);
  --svg-bg: #fff;
  --linear-gradient: linear-gradient(90deg, #4ad493, #007374);
}

#theme_switch {
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--svg-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2000;
  border: none;
  cursor: pointer;
  scale: 0.87;
  right: 20px;
  top: 115px;
  transition: 0.3s ease-in-out;
  opacity: 0.8;
}

#theme_switch:hover {
  scale: 1;
  opacity: 1;
}

#theme_switch svg {
  fill: var(--main_color);
  scale: 1.3;
}

#theme_switch svg:last-child {
  display: none;
}

.dark_mood #theme_switch svg:first-child {
  display: none;
}

.dark_mood #theme_switch svg:last-child {
  display: block;
}

body {
  background: var(--background-body);
  scroll-behavior: smooth;
}

.container {
  width: 80%;
  margin: auto;
  max-width: 1500px;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--white_color);
  font-family: "DM Sans", sans-serif;
}

span {
  color: var(--main_color);
}

p {
  color: var(--p_color);
}

section {
  padding: 30px 0;
}

/* btns */
.btns {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.btn {
  background-color: var(--main_color);
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--black_color);
  transition: 0.3s;
}

.btn:hover {
  scale: 1.1;
}

.btn_no_bg {
  color: var(--white_color);
  text-transform: capitalize;
  text-decoration: underline;
  transition: 0.3s;
}

.btn_no_bg:hover {
  color: var(--main_color);
}

/* background lines */
.bg-lines span {
  position: fixed;
  top: 0;
  z-index: -1;
  height: 100%;
  background: var(--bg-lines);
  width: 1px;
  -webkit-animation: left_Right 18s infinite;
  animation: left_Right 18s infinite;
}

.bg-lines span:nth-child(1) {
  left: 10%;
}

.bg-lines span:nth-child(2) {
  left: 20%;
}

.bg-lines span:nth-child(3) {
  left: 30%;
}

.bg-lines span:nth-child(4) {
  left: 40%;
}

.bg-lines span:nth-child(5) {
  left: 50%;
}

.bg-lines span:nth-child(6) {
  left: 60%;
}

.bg-lines span:nth-child(7) {
  left: 70%;
}

.bg-lines span:nth-child(8) {
  left: 80%;
}

.bg-lines span:nth-child(9) {
  left: 90%;
}

@keyframes left_Right {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  50% {
    -webkit-transform: translate(-100px);
    transform: translate(-100px);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

.top_sc {
  text-align: center;
  margin-bottom: 100px;
}

.top_sc h2 {
  font-size: 35px;
  color: var(--white_color);
}

/* start header */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  transition: 0.4s ease-in-out;
  z-index: 999;
}

.activeHeader {
  border-bottom: 1px solid #56565697;
  background: rgb(15 40 47 / 50%);
  backdrop-filter: blur(30px);
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

header nav .logo img {
  width: 200px;
  transition: 0.4s ease-in-out;
}
.logo_ph {
  display: none;
}

header nav .links {
  display: flex;
  gap: 20px;
  border-bottom: none;
  background: none;
}

header nav .links a {
  color: var(--white_color);
  text-transform: capitalize;
  font-size: 18px;
  transition: 0.3s;
  padding: 12px;
  border-radius: 4px;
}

header nav .links a:hover {
  background-color: rgb(67 181 128 / 50%);
}

header nav .icons {
  display: flex;
  gap: 30px;
}

header nav .icons a {
  color: #ffffff;
  font-size: 20px;
  transition: 0.3s;
  width: 25px;
  height: 25px;
  background: linear-gradient(127deg, #4ad493, #007374);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 50px;
}

header nav .icons a:hover {
  scale: 1.3;
  background: linear-gradient(30deg, #4ad493, #007374);
}

/* start hero sc */
.hero {
  padding-top: 100px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(https://yossef-weal.github.io/my-site/svgs/portfolio_hero_pg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.hero .div_TexT {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .sprid {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: fit-content;
    margin-inline: auto;
    background: #43b58040;
    padding: 10px;
    height: 40px;
    border-radius: 50px;
    border: 3px solid var(--main_color);
    i {
      font-size: 20px;
      color: var(--main_color);
    }
    p {
      color: var(--white_color);
      width: 100%;
    }
  }
}

.hero .div_TexT h4 {
  color: var(--p_color);
  font-size: 35px;
}

.hero .div_TexT h1 {
  font-size: 70px;
}

.hero .div_TexT h2 {
  font-size: 60px;
  font-weight: normal;
  line-height: 0.9;
  color: var(--white_color);
}

.hero .div_TexT p {
  margin: 30px 0;
  width: 60%;
}

.hero .btn {
  font-size: 20px;
  padding: 10px 20px;
}

/* start About sc*/

.about .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background: var(--linear-gradient);
  padding: 20px;
}

.about .div_text {
  width: 50%;

  a {
    background-color: var(--background-body);
    color: var(--white_color);
    font-weight: 500;
  }
}

.about .div_text h5 {
  color: var(--black_color);
  font-size: 18px;
  text-transform: capitalize;
}

.about .div_text h2 {
  font-size: 45px;
  margin: 45px 0 5px;
  span {
    color: var(--background-body);
  }
}

.about .div_text h4 {
  font-size: 30px;
  margin-bottom: 20px;
  color: var(--black_color);
}

.about .div_text p {
  line-height: 1.8;
  color: var(--bg_color);
}

.about .div_text ul {
  display: flex;
  color: var(--background-body);
  margin: 30px 0 20px;
  flex-wrap: wrap;
}

.about .div_text ul li {
  width: 45%;
  font-weight: 500;
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.about .div_text ul li i {
  color: var(--linear-gradient);
  font-size: 20px;
}

.about .div_img {
  width: 50%;
}

.about .div_img img {
  border-radius: 20px;
  padding: 10px;
}

/* start serves sc*/

.services {
  .parent {
    .div1,
    .div2,
    .div3,
    .div4,
    .div5,
    .div6,
    .div7 {
      background: #10191b;
      border-radius: 10px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 10px;
      .img-services {
        width: 90%;
      }
      .h2-services {
        font-size: 22px;
        font-weight: 600;
      }
      .p-services {
        font-size: 18px;
        font-weight: 500;
      }
    }
    .div2,
    .div3,
    .div5,
    .div6,
    .div7 {
      .img-services {
        width: 200px;
        height: 200px;
        object-fit: cover;
      }
    }
  }
  .parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 20px;
  }

  .div1 {
    grid-column: span 8 / span 8;
    grid-row: span 4 / span 4;
  }

  .div2 {
    grid-column: span 4 / span 4;
    grid-row: span 4 / span 4;
    grid-column-start: 9;
  }

  .div3 {
    grid-column: span 4 / span 4;
    grid-row: span 4 / span 4;
    grid-row-start: 5;
  }

  .div4 {
    grid-column: span 8 / span 8;
    grid-row: span 4 / span 4;
    grid-column-start: 5;
    grid-row-start: 5;
  }

  .div5 {
    grid-column: span 4 / span 4;
    grid-row: span 4 / span 4;
    grid-row-start: 9;
  }

  .div6 {
    grid-column: span 4 / span 4;
    grid-row: span 4 / span 4;
    grid-column-start: 5;
    grid-row-start: 9;
  }

  .div7 {
    grid-column: span 4 / span 4;
    grid-row: span 4 / span 4;
    grid-column-start: 9;
    grid-row-start: 9;
  }
}

@media (max-width: 750px) {
  .services {
    .parent {
      .div1,
      .div2,
      .div3,
      .div4,
      .div5,
      .div6,
      .div7 {
        grid-column: span 12 / span 1;
        grid-row: span 3 / span 2;
      }
    }
  }
}

/* start skills */
.skills {
  .boxsSkills {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    .boxSkill {
      width: 22%;
      padding: 35px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      border: 2px solid var(--border-color);
      border-radius: 10px;
      transition: 0.4s ease-in-out;
      cursor: pointer;
      i,
      svg {
        font-size: 80px;
        color: var(--white_color);
      }
      p {
        font-size: 25px;
        font-weight: 500;
      }
    }
  }
}
.skills .boxSkill:hover {
  background: linear-gradient(180deg, #4ad493, #007374);
  border: 0px;
  i,
  svg,
  p {
    color: var(--background-body);
  }
}
@media (max-width: 1000px) {
  .skills {
    .boxsSkills {
      .boxSkill {
        width: 45%;
      }
    }
  }
}
@media (max-width: 500px) {
  .skills {
    .boxsSkills {
      gap: 20px;
      .boxSkill {
        width: 45%;
        i,
        svg {
          font-size: 50px;
        }
        p {
          font-size: 20px;
        }
      }
    }
  }
}
/* end skills */
/* start progects */

.projects .projec_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  transition: 0.3s ease-in-out;
}

.projec_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.projects .projec_box:nth-child(2n) {
  flex-direction: row-reverse;
}

.projects .projec_box img {
  width: 45%;
  border-radius: 10px;
  transition: 0.4s ease-in-out;
}

.projects .projec_box img:hover {
  box-shadow: 0px 0px 47px -9px rgb(73 212 147 / 25%);
  scale: 1.08;
}

.projects .projec_box .text {
  width: calc(50% - 80px);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.projects .projec_box .text h4 {
  font-size: 20px;
  font-weight: normal;
}
.projects .projec_box .text a:hover {
  color: var(--main_color);
}

.projects .projec_box .text a {
  font-size: 40px;
  color: var(--white_color);
  transition: 0.4s;
}

.projects .projec_box .text p {
  line-height: 1.8;
}
.projects .projec_box .text .link:hover {
  color: var(--main_color);
  scale: 1.08;
}

.projects .projec_box .text .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 5px solid var(--border-color);
  line-height: 50px;
  border-radius: 50px;
  rotate: 45deg;
}

.projects {
  .projec_box {
    .text {
      .links {
        .link {
          width: fit-content;
          font-size: 20px;
          padding: 10px 20px;
          gap: 17px;
          rotate: 0deg;
          i {
            rotate: 45deg;
            scale: 1.5;
          }
        }
      }
    }
  }
}

.projects .projec_box .text .link:hover {
  border: 5px solid var(--main_color);
  transition: 0.3s ease-in-out;
}

.projects .projec_box.projec_box_2 {
  flex-direction: row-reverse;
}
.more {
  width: 100%;
  height: 85px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -20px;
  font-size: 22px;
  background: linear-gradient(180deg, rgba(74, 212, 147, 0) 0%, #007374 100%);
  border-radius: 50px;
}

/* STARTE CONTACT SC  */

.contact .container {
  display: flex;
  justify-content: space-between;
}

.contact .top_sc {
  margin-bottom: 100px;
}

.contact .soshel-contect {
  width: 35%;
}

.contact .soshel-contect h2 {
  color: var(--white_color);
  margin-bottom: 40px;
}

.contact .soshel-contect .links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.contact .soshel-contect .links a {
  color: #ffffff;
  font-size: 20px;
  background: linear-gradient(-130deg, #4ad493, #007374);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  transition: 0.4s;
  width: 48%;
  transition: 0.3s ease-in-out;
}

.contact .soshel-contect .links a:hover {
  background: linear-gradient(171deg, #4ad493, #007374);
}

.contact .soshel-contect .links i {
  color: #fff;
  margin-right: 20px;
  font-size: 25px;
}

.contact form {
  width: 60%;
  text-align: center;
}

.contact form .inpts_forms {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact form .inpts_forms input,
.contact form .inpts_forms textarea {
  border-radius: 5px;
  padding: 20px;
  outline: none;
  background-color: var(--bg_color);
  color: var(--white_color);
  margin-bottom: 30px;
  border: 1px solid var(--border-color);
  transition: 0.4s;
  font-size: 15px;
}

.contact form .inpts_forms input {
  width: 48%;
}

.contact form .inpts_forms textarea {
  width: 100%;
}

.contact form .inpts_forms input:focus,
.contact form .inpts_forms textarea:focus {
  border-color: var(--main_color);
}

.contact .btn {
  outline: none;
  padding: 10px 25px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.4s;
  width: 100%;
  border: none;
}

/* start footer  */
footer {
  display: flex;
  justify-content: center;
  padding: 30px;
  border-top: 2px solid var(--border-color);
  background: linear-gradient(170deg, #4ad493, #007374);
  gap: 20%;
}

.copyReat {
  display: flex;
  align-items: center;
  gap: 10px;
  p {
    font-size: 18px;
    color: var(--background-body);
    font-weight: 500;
  }
}

.copyReat img {
  width: 60px;
}

footer .icons {
  width: 45%;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-end;
}
footer .icons a {
  color: #ffffff;
  font-size: 20px;
  transition: 0.3s;
  width: 25px;
  height: 25px;
  background: linear-gradient(115deg, #4ad493, #007374);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 50px;
  border: 3px solid;
}

footer .icons a:hover {
  background: linear-gradient(30deg, #4ad493, #007374);
  scale: 1.3;
}

/* start responsev*/

.close_menue,
header .links .logo,
header .icon_menue {
  display: none;
}

@media (max-width: 1250px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 1000px) {
  header nav .links {
    position: fixed;
    flex-direction: column;
    background: var(--background-body);
    top: 0;
    left: -101%;
    padding: 50px 0;
    text-align: center;
    width: 400px;
    transition: 0.5s ease-in-out;
    border-bottom: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    height: 100vh;
  }

  header nav .links.active {
    left: 0;
  }

  .close_menue {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    color: #ffffff;
    font-size: 18px;
    transition: 0.3s;
    width: 25px;
    height: 25px;
    background: linear-gradient(127deg, #4ad493, #007374);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 50px;
  }

  header .links .logo {
    display: block;
  }
  .logo {
    display: none;
  }
  .logo_ph {
    display: block;
  }
  header nav .logo img {
    width: 80px;
  }
  header .icon_menue {
    color: #ffffff;
    font-size: 20px;
    transition: 0.3s;
    width: 25px;
    height: 25px;
    background: linear-gradient(127deg, #4ad493, #007374);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 50px;
  }
  header .icon_menue:hover {
    scale: 1.1;
  }

  /*Hero sc*/
  .hero {
    height: 70vh;
    background-size: 100% 100vh;
    background-position-y: -75px;
  }

  .hero .div_TexT h4 {
    font-size: 25px;
  }

  .hero .div_TexT h1 {
    font-size: 55px;
  }

  .hero .div_TexT h2 {
    font-size: 55px;
  }

  .hero .div_TexT p {
    font-size: 16px;
    width: 100%;
  }

  .hero .btn {
    font-size: 16px;
    padding: 8px 20px;
  }

  .hero .container {
    flex-direction: column-reverse;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
  }

  .hero .div_TexT {
    width: 90%;
  }

  /*about sc*/
  .about .container {
    flex-direction: column-reverse;
    padding: 15px 0;
  }

  .about .div_text {
    width: 90%;
    margin: 30px 0;
  }

  .about .div_img {
    width: 90%;
  }

  /*services sc*/

  .services .boxs {
    justify-content: center;
    gap: 30px;
  }

  .services .boxs .box {
    width: 45%;
  }

  .projects .projec_box .text a {
    font-size: 25px;
  }

  .projects .projec_box .text h4 {
    font-size: 16px;
  }

  .projects .projec_box .text p {
    font-size: 14px;
    margin-block: 10px;
  }

  .projects .projec_box .text {
    width: calc(50% - 50px);
    margin-left: 50px;
  }

  /*contact sc*/
  .contact .container {
    flex-direction: column;
  }

  .contact .soshel-contect {
    width: 100%;
    margin-top: 0px;
  }

  .contact .soshel-contect .links {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }

  .contact .soshel-contect .links a {
    width: 48%;
  }

  .contact form {
    margin-top: 10px;
    width: 100%;
  }
  footer .icons {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 500px) {
  header nav .icons a {
    font-size: 20px;
    display: none;
  }

  header nav .icons a:hover {
    scale: 1.1;
  }

  header nav .icons {
    gap: 15px;
    align-items: center;
  }

  header nav .logo img {
    width: 70px;
  }

  header nav .links {
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    border-right: none;
    height: auto;
    z-index: 9999;
    gap: 10px;
  }

  header nav .links.active img {
    width: 250px;
  }

  header .icon_menue {
    color: #ffffff;
    font-size: 20px;
    transition: 0.3s;
    width: 25px;
    height: 25px;
    background: linear-gradient(127deg, #4ad493, #007374);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 50px;
  }
  header .icon_menue:hover {
    scale: 1.1;
  }

  .close_menue {
    font-size: 25px;
  }

  /*Hero sc*/
  .hero {
    height: 50vh;
    background-position-y: -280px;
    margin-bottom: 50px;
  }

  .hero .div_TexT h4 {
    font-size: 20px;
  }

  .hero .div_TexT h1 {
    font-size: 45px;
  }

  .hero .div_TexT h2 {
    font-size: 33px;
  }

  .hero .div_TexT p {
    margin: 15px 0;
  }
  .hero .div_img {
    width: 90%;
  }

  /*about sc*/
  .about .container {
    flex-direction: column-reverse;
    padding: 15px 0;
  }

  .about .div_text {
    width: 90%;
    margin: 30px 0;
  }

  .about .div_img {
    width: 100%;
  }

  .about .div_text h2 {
    font-size: 35px;
  }

  .about .div_text h4 {
    font-size: 21px;
  }

  .about .div_text p {
    font-size: 14px;
  }

  .about .div_text ul li {
    width: 100%;
    font-weight: 500;
  }

  /*services sc*/

  .services .boxs {
    flex-direction: column;
  }

  .services .boxs .box {
    width: 100%;
  }

  .top_sc h2 {
    font-size: 30px;
  }

  .top_sc {
    margin-bottom: 50px !important;
  }

  /*projects sc*/
  .projects .projec_box .text a {
    font-size: 25px;
  }

  .projects .projec_box .text h4 {
    font-size: 16px;
  }

  .projects .projec_box .text p {
    font-size: 14px;
  }

  .projects .projec_box .text {
    width: 100%;
    margin-left: 0;
  }

  .projects .projec_box {
    flex-direction: column;
    gap: 30px;
  }
  .projects .projec_box:nth-child(2n) {
    flex-direction: column;
  }

  .projects .projec_box img {
    width: 100%;
  }

  .projects .projec_box iframe {
    width: 95% !important;
  }

  /*contact sc*/
  .contact .soshel-contect .links a {
    width: 47%;
    i {
      margin-right: 10px;
    }
  }

  footer {
    flex-direction: column-reverse;
    gap: 20px;
    align-items: center;
  }
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background-color: var(--black_color);
}

::-webkit-scrollbar-thumb {
  background-color: #00bf638c;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--main_color);
}

/* start bun up  */
.up {
  position: fixed;
  bottom: 50px;
  right: -50px;
  width: 50px;
  height: 50px;
  color: var(--white_color);
  font-size: 30px;
  padding: 5px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  opacity: 0.8;
  background: linear-gradient(127deg, #4ad493, #007374);
  border-radius: 50px;
  border: 3px solid #fff;
}

.visible {
  right: 20px;
}

.up:hover {
  opacity: 1;
}

@media (max-width: 500px) {
  .up {
    bottom: 20px;
    scale: 0.8;
  }
}
