@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@400;500&display=swap");

@theme {
  --color-bg-body: #0f282f;
  --color-primary: #45c68b;
  --color-bg-app: hsl(193deg 52% 12% / 50%);
}

* {
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--color-bg-body);
  overflow-x: hidden;
}
.loader {
  position: relative;
  width: 60px;
  height: 60px;
  background: var(--color-primary);
  transform: rotateX(65deg) rotate(45deg);
  transform: perspective(200px) rotateX(65deg) rotate(45deg);
  color: #fff;
  animation: layers1 1s linear infinite alternate;
}
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.7);
  animation: layerTr 1s linear infinite alternate;
}

@keyframes layers1 {
  0% {
    box-shadow: 0px 0px 0 0px;
  }
  90%,
  100% {
    box-shadow: 20px 20px 0 -4px;
  }
}
@keyframes layerTr {
  0% {
    transform: translate(0, 0) scale(1);
  }
  100% {
    transform: translate(-25px, -25px) scale(1);
  }
}
